body {
  margin: 0;
  padding: 0;
  font-family: "Geologica", sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
}
header a {
  color: whitesmoke;
  text-decoration: none;
}
#page-logo {
    padding: 0 3rem;
}
#page-logo a {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  color: whitesmoke;
  text-decoration: none;
}
#page-logo a img {
  width: 5.5rem;
}
#page-logo a p {
    color:rgb(1, 228, 254);
  display: flex;
  flex-direction: column;
  text-align: center;
}
#page-logo a p span {
    color: whitesmoke;
}
header nav {
  display: flex;
  align-items: center;
  padding: 0 3rem;
}
header nav ul {
  list-style: none;
  display: flex;
  padding: 0 0.5rem;
  justify-items: center;
  font-size: 1.2rem;
}
header nav ul li {
  padding: 0 1rem;
}
footer{
    background: linear-gradient(90deg, rgb(30,30,30), rgb(40,40,40));
    color: azure;
    text-align: center;
    padding: 2rem;
    margin: 0;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-color: rgba(77, 77, 77, 0.9);
  width: 85%;
}
